<h2> About </h2>
<h4 class: "strong"><%= @restaurant.name %></h4>
<p>Category: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Phone Number: <%= @restaurant.phone_number %></p>
<p>Reviews:
      <ul>
        <% @restaurant.reviews.each do |review| %>
          <li>
            <%= review.content %> Rating: <%= review.rating %>
          </li>
        <% end %>
        <li><%= link_to "add review", new_restaurant_review_path(@restaurant) %></li>
      </ul>
</p>

<%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-primary" %>
